{% extends "../base.html" %}

{% block content %}
<div class="span-4 append-1">
	<div id="navigation">
	<ul>
		<li><a href="#">Recent Files</a></li>
		<li>By Device</li>
		{% for device in devices %}
		<li class="bullet"><a href="#">{{ device }}</a></li>
		{% endfor %}
		<li>By Type</li>
		{% for type in types %}
		<li class="bullet"><a href="#">{{ type }}</a></li>
		{% endfor %}
	</ul>
	</div>
</div>
<div class="span-18">
	<div id="table">
		<table>
			<tr>
				<th>Device</th>
				<th>Type</th>
				<th>Filename</th>
				<th>Date Added</th>
			</tr>
			{% for file in files %}
			<tr>
				<td>{{ file.device }}</td>
				<td>{{ file.type }}</td>
				<td>
					<a href="#" style="padding-right: 10px;">{{ file.filename }}</a>
					<img src="/static/icons/rommanager.png" alt="Send to ROMManager"/>
					</td>
				<td>{{ file.date_created }}</td>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}