{% extends "../base.html" %}

{% block content %}
<div class="span-4 append-1">
{% include "../nav.html" %}
</div>
<div class="span-18">
	<div id="table">
		<table>
			<tr>
				<th>Device</th>
				<th>Type</th>
				<th>Filename</th>
				<th>Size</th>
				<th>Date Added</th>
			</tr>
			{% for file in files %}
			<tr>
				<td>{{ file.device|escape }}</td>
				<td>{{ file.type|escape }}</td>
				<td>
					<a href="/get/{{ file.device }}/{{ file.filename }}" style="padding-right: 10px;">{{ file.filename }}</a>
					<img src="/static/icons/rommanager.png" alt="Send to ROMManager"/>
				</td>
				<td>{{ file.size|filesizeformat }}</td>
				<td>{{ file.date_created }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}