{% extends "../base.html" %}

{% block content %}
{% include "../nav.html" %}
<div class="span-19">
<div id="banner" style="text-align: center; margin-bottom: 20px;">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-4305693279235670";
/* TeamDouche Mirror */
google_ad_slot = "5118872808";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>
	<div id="table">
		<h3>{{ title|escape }}</h3>
		<div id="subnav">
			<b>Show Only:</b> [ <a href="{{ link_stable }}">stable</a> | <a href="{{ link_nightly }}">nightly</a> ]
		</div>
		<table>
			<tr>
				<th>Device</th>
				<th>Type</th>
				<th>Filename</th>
				<th>Size</th>
				<th>Date Added <img src="/static/icons/bullet_arrow_down.png" alt="" /></th>
                                <th>Build #</th>
			</tr>
			{% for file in files %}
			<tr>
				<td><a href="/?device={{ file.device }}">{{ file.device|escape }}</a></td>
				<td>{{ file.type|escape }}</td>
				<td>
                               <a href="{{ file.tickle_url }}">
                        <img src="/static/icons/rommanager.png" alt="Send to ROMManager"/>
                    </a>
					<a href="/get/{{ file.device }}/{{ file.filename }}" style="padding-right: 10px;">{{ file.filename }}</a><br/><small class="md5">md5sum: {{ file.md5sum }}</small>
				</td>
				<td><small>{{ file.size|filesizeformat }}</small></td>
				<td><small>{{ file.date_created }}</small></td>
                                <td><small>{{ file.buildnumber }}</small></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
