<div class="span-4 append-1">
	<div id="navigation">
	<ul>
		<li><a href="/">Recent Files</a></li>
		<li class="break">By Device</li>
		{% for device in devices %}
		<li class="bullet"><a href="/?device={{ device }}">{{ device|escape }}</a></li>
		{% endfor %}
		<li class="break">By Type</li>
		{% for type in types %}
		<li class="bullet"><a href="/?type={{ type }}">{{ type|escape }}</a></li>
		{% endfor %}
		<li class="break">Mirrors</li>
		<li class="bullet"><a href="/mirrors">list</a></li>
	</ul>
	</div>
</div>